
@{
    ViewBag.Title = "Home";
}
 
<div class="row" style="height:100%;">

    <a href="@Url.Action("Index","Employes")">
        <div class="col-md-6 MyItem" style="background-color:#00AA8D;">
            <p style="font-family:'Segoe MDL2 Assets';font-size:120px;text-align:center">
                
            </p>
            <p style="font-size:42px;text-align:center">
                Employes
            </p>
        </div>
    </a>
    <a href="@Url.Action("Index","Projets")">
        <div class="col-md-6 MyItem" style="background-color:#3F51B5;">
            <p style="font-family:'Segoe MDL2 Assets';font-size:120px;text-align:center">
                
            </p>
            <p style="font-size:42px;text-align:center">
                Projects
            </p>
        </div>
    </a>

    <a href="@Url.Action("Index","Departements")">
        <div class="col-md-6 MyItem" style="background-color:#D84315;">
            <p style="font-family:'Segoe MDL2 Assets';font-size:120px;text-align:center">
                
            </p>
            <p style="font-size:42px;text-align:center">
                Departments
            </p>
        </div>
    </a>
    <a href="@Url.Action("Index","Participations")">
        <div class="col-md-6 MyItem" style="background-color:#455A64;">
            <p style="font-family:'Segoe MDL2 Assets';font-size:120px;text-align:center">
                
            </p>
            <p style="font-size:42px;text-align:center">
                Participations
            </p>
        </div>

    </a>
</div>